Repository nskobelevs/dirc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api-build-job, api-unit-test-job, auth-build-job, users-build-job, client-build-job

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/index.html#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml

stages: # List of stages for jobs, and their order of execution
  - build
  - test
#   - deploy

cache: &global_cache
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cargo/bin
    - .cargo/registry/index
    - .cargo/registry/cache
    - target/debug/deps
    - target/debug/build
  policy: pull-push

variables:
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo

api-build-job: # This job runs in the build stage, which runs first.
  stage: build
  image: openjdk:17-jdk
  script:
    - echo "Compiling the code..."
    - cd api
    - ./mvnw compile
    - echo "Compile complete."
  rules:
    - changes:
        - api/**/*

api-unit-test-job: # This job runs in the test stage.
  stage: test # It only starts when the job in the build stage completes successfully.
  image: openjdk:17-jdk
  script:
    - echo "Running unit tests... "
    - cd api
    - ./mvnw test
    - echo "All tests pass"
  rules:
    - changes:
        - api/**/*

auth-build-job:
  stage: build
  image: lukemathwalker/cargo-chef:latest-rust-1.68-alpine
  script:
    - echo "Compiling the code..."
    - cd auth
    - cargo build
    - echo "Compile complete."
  cache:
    <<: *global_cache
  rules:
    - changes:
        - auth/**/*

users-build-job:
  stage: build
  image: lukemathwalker/cargo-chef:latest-rust-1.68-alpine
  script:
    - echo "Compiling the code..."
    - cd users
    - cargo build
    - echo "Compile complete."
  cache:
    <<: *global_cache
  rules:
    - changes:
        - users/**/*

client-build-job:
  stage: build
  image: node:18-alpine
  script:
    - echo "Compiling the code..."
    - cd client
    - yarn install
    - yarn run build
    - echo "Compile complete."
  rules:
    - changes:
        - client/**/*

Resolve "Add support for auth service to api service"
  api/src/main/java/ie/dirc/api/APIController.java
  api/src/main/java/ie/dirc/api/SampleController.java
  api/src/test/java/ie/dirc/api/SampleControllerTest.java
Due: api-build-job, api-unit-test-job

Resolve "Change signature of auth/logout to not require a username"
  auth/src/db.rs
  auth/src/lib.rs
  auth/src/main.rs
  auth/tests/authenticator_test.rs
Due: auth-build-job

Resolve "Fix api"
  api/src/main/java/ie/dirc/api/APIController.java
Due: api-build-job, api-unit-test-job

Resolve "Update auth service to hook into users service"
  api/src/main/java/ie/dirc/api/APIController.java
  auth/Cargo.lock
  auth/Cargo.toml
  auth/src/db.rs
  auth/src/lib.rs
  auth/src/main.rs
  core-rs/src/error.rs
  core-rs/src/lib.rs
  users/src/db.rs
  users/src/lib.rs
  users/src/main.rs
Due: api-build-job, api-unit-test-job, auth-build-job, users-build-job

Resolve "Add dependency caching to api build"
  api/Dockerfile
Due: api-build-job, api-unit-test-job

Resolve "Refresh login session on authenticate"
  auth/Cargo.lock
  auth/Cargo.toml
  auth/src/db.rs
  auth/src/main.rs
Due: auth-build-job

Resolve "Make authorise endpoint"
  auth/src/db.rs
  auth/src/lib.rs
  auth/src/main.rs
  core-rs/src/error.rs
  core-rs/src/lib.rs
  users/src/lib.rs
Due: auth-build-job, users-build-job

auth: Improve Authorization Header error
  core-rs/src/error.rs
Due: none

auth: Fix tests
  auth/tests/authenticator_test.rs
Due: auth-build-job

Resolve "Create login/register pages"
  client/package.json
  client/src/components/ErrorSpan.tsx
  client/src/hooks/useAuth.ts
  client/src/pages/register.tsx
  client/src/styles/Home.module.css
  client/src/styles/globals.css
  client/tailwind.config.js
  client/yarn.lock
Due: client-build-job

api: Add JSON 404 page
  api/src/main/java/ie/dirc/api/APIController.java
Due: api-build-job, api-unit-test-job

Resolve "Create Chat Service"
  .vscode/settings.json
  auth/src/main.rs
  chats/.gitignore
  chats/.mvn/wrapper/maven-wrapper.jar
  chats/.mvn/wrapper/maven-wrapper.properties
  chats/Dockerfile
  chats/mvnw
  chats/mvnw.cmd
  chats/pom.xml
  chats/src/main/java/ie/dirc/chats/ChatEntity.java
  chats/src/main/java/ie/dirc/chats/ChatInfo.java
  chats/src/main/java/ie/dirc/chats/ChatRepository.java
  chats/src/main/java/ie/dirc/chats/ChatsApplication.java
  chats/src/main/java/ie/dirc/chats/ChatsController.java
  chats/src/main/java/ie/dirc/chats/Message.java
  chats/src/main/java/ie/dirc/chats/MessageDTO.java
  chats/src/main/resources/application.properties
  chats/src/test/java/ie/dirc/chats/ChatsApplicationTests.java
  chats/src/test/java/ie/dirc/chats/DatabaseConnectionTest.java
  docker-compose.yaml
Due: auth-build-job

chats: fix authenticate status code error
  chats/src/main/java/ie/dirc/chats/ChatsController.java
Due: none

Fix users dnb & remove mysql conf folder
  docker-compose.yaml
Due: none

Add README and report
  README.md
  report.pdf
Due: none

fix: dependency issue with chats db
  api/src/main/java/ie/dirc/api/APIController.java
  chats/src/main/java/ie/dirc/chats/ChatsController.java
  docker-compose.yaml
Due: api-build-job, api-unit-test-job

chore: add more detail to README.md
  README.md
Due: none

minor update to report to add mysql error possibility
  report.pdf
Due: none
